page-home {

}

ion-title {
    text-align: center;
}


  h3 {
    text-align: center;
    padding-top: 4em;
    margin-bottom: 4em;
}

p {
    text-align: justify;
    font-size: 120%;
    margin-left: 1.5em;
    margin-right: 1.5em;
}